.titulos{
    padding-bottom: 8vh;
}

.titulos  h1{
    color: blanchedalmond;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    font-size: 70px;
}

.titulos p{
    color: blanchedalmond;
    text-align: center;
    font-size: 30px;
}

*{
    font-family: fantasy;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    margin-top: 50px;
    margin-right:40vh;
    margin-left: 40vh;
    margin-bottom: 50px;
}

.general {
    border: 2px solid beige;
    background-image: linear-gradient(rgba(11, 129, 11, 0.733)), url(imglanding/tiendabarrio.jpg);
    margin: auto;
    width: 100%;
    max-width: 110vh;
    max-height: 100%;
    height: 80vh;
    padding: 20px;
    align-items: center;
    align-content: center;
    box-shadow: 6px 7px 20px green;
    border-radius: 20px;
    overflow-wrap: break-word;
    overflow: hidden;
    word-wrap: break-word;
}

.form{
    font-size: 25px;
    text-align: left;
    margin-bottom: 0;
    color: blanchedalmond;
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    margin-right: 55vh;
    border: 2px solid;
    padding: 8px;
    margin-top: 0;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 30vh;
}

button{
    border: green solid;
    margin: 8px 10vh;
    padding: 5px;
    border-radius: 20px;
    background-color: blanchedalmond;
    color: green;
    box-shadow: 3px 5px 10px blanchedalmond;
    cursor: pointer;
}

label{
    padding-bottom: 3px;
}

input {
    border-radius: 20px;
    padding-left: 10px;
}

